CrowHuman2YOLO/data/raw/annotation_train.odgt
CrowHuman2YOLO/data/raw/annotation_val.odgt
CrowHuman2YOLO/data/raw/CrowdHuman_train01.zip
CrowHuman2YOLO/data/raw/CrowdHuman_train02.zip
CrowHuman2YOLO/data/raw/CrowdHuman_train03.zip
CrowHuman2YOLO/data/raw/CrowdHuman_val.zip
